
<div id='mineCounter'>Mines Left:</div>
<div id='stopWatch'>00:00:00</div>

<div id='board'></div>
<img id='winImage' src='/images/trophy.png'>

<p id='modeDisplay' style='display:none'><%= mode %></p>
<script src="/js/index.js"></script>
