<!DOCTYPE html>
<html>
    <head>
        <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
        <title>Minesweeper</title>
        <link id='styling' rel='stylesheet' type='text/css' href='/css/index.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@500&display=swap" rel="stylesheet"/>
    </head>
    <body>
        <%- body %>
    </body>
</html>