<!DOCTYPE html>
<html>
    <head>
        <title>Minesweeper</title>
        <meta name='viewport' content='width-device-width, initial-scale-1.0'>
        <link id='styling' rel='stylesheet' type='text/css' href='/css/index.css'>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- body %>
    </body>
</html>