<div id='start-page-container'>
    <h1>MINESWEEPER</h1>
    <hr class='hrone'></hr>

    <h2>SELECT YOUR DIFFICULTY LEVEL</h2>
    <hr class='hrtwo'></hr>
    <h6>Please Note: Minesweeper Is Optimized For Computer.</h6>

    <select id='select'>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
    </select>

    <br/>
    <br/>
    <div id='start' onclick='submit()'>Start!</div>
</div>





<script src='/js/starting.js'></script>
